body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: url("S4.png") no-repeat center center fixed;
  background-size: cover;
  font-family: 'Arial Rounded MT Bold', sans-serif;
  overflow: hidden;
}


.overlay {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


.title {
  font-size: 125px; 
  color: #0a5a2e;
  font-weight: 900;
  letter-spacing: 3px;
  position: relative;
  text-align: center;
  margin-bottom: 30px; 
  text-shadow:
    0 3px 0 #c8e1c8,
    0 6px 0 #a8d1a8,
    0 9px 10px rgba(0, 0, 0, 0.25);
  animation: pulse 4s ease-in-out infinite;
  overflow: hidden;
}


@keyframes pulse {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.03); }
}


.title::after {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.6) 50%,
    rgba(255, 255, 255, 0.1) 100%
  );
  transform: skewX(-20deg);
  animation: shine 6s infinite;
}

@keyframes shine {
  0% { left: -75%; }
  50% { left: 125%; }
  100% { left: 125%; }
}



.login-btn {
  background-color: #0a5a2e;
  color: #fff;
  border: none;
  padding: 20px 70px;
  border-radius: 40px;
  font-size: 40px;
  cursor: pointer;
  transition: all 0.25s ease;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  
  margin-top: 50px; 
}



.login-btn:hover {
  transform: scale(1.08);
  background-color: #118f54;
  box-shadow: 0 0 25px rgba(16, 128, 64, 0.7);
}

.login-btn:active {
  transform: scale(0.95);
  background-color: #0d7f40;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}


@keyframes fadeIn {
  from { opacity: 0; transform: translate(-50%, -55%); }
  to { opacity: 1; transform: translate(-50%, -50%); }
}
