/*Login Css*/

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url("../img/S5.png") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Arial Rounded MT Bold', sans-serif;
  }
  
  
  .login-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 40px; 
  }
  
  .login-box {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 25px;
    padding: 70px 90px;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 420px;
  }

  
.login-title {
    font-size: 110px; 
    color: #0a5a2e;
    margin-bottom: 60px; 
    font-weight: 900;
    letter-spacing: 3px;
    position: relative;
    animation: pulse 4s ease-in-out infinite;
    text-shadow:
      0 3px 0 #c8e1c8,
      0 6px 0 #a8d1a8,
      0 9px 10px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  
  

  @keyframes pulse {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.03);
    }
  }
  
  .login-title::after {
    content: "";
    position: absolute;
    top: 0;
    left: -75%;
    width: 50%;
    height: 100%;
    background: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0.6) 50%,
      rgba(255, 255, 255, 0.1) 100%
    );
    transform: skewX(-20deg);
    animation: shine 6s infinite;
  }
  
  @keyframes shine {
    0% { left: -75%; }
    50% { left: 125%; }
    100% { left: 125%; }
  }
  
  .login-input {
    display: block;
    width: 100%;
    padding: 15px;
    margin-bottom: 35px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  
  .login-submit {
    background-color: #0a5a2e;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 18px 55px;
    font-size: 25px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 15px;
  }
  
  .login-submit:hover {
    background-color: #118f54;
    transform: scale(1.05);
  }
  
  
  .login-links {
    margin-top: 40px;
    font-size: 22px;
    display: flex;
    justify-content: center;
    gap: 50px;
  }
  
  .login-links a {
    color: #0a5a2e;
    text-decoration: none;
    transition: color 0.2s ease;
  }
  
  .login-links a:hover {
    text-decoration: underline;
    color: #118f54;
  }
